<div class="container">
  <div class="row">
    <h2 class="mt-4">"<%= @word %>"の検索結果</h2>
    <table class="table table-hover table-inverse">

    <!--検索対象モデルがUserの時 -->

      <% if @range == "ユーザー" %>
        <%= render "public/users/users", users: @users %>
      <% else %>

        <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->

        <%= render "public/posts/posts", posts: @posts %>
      <% end %>
    </table>
  </div>
</div>