<% if post_data.favorited_by?(current_user) %>
  <%= link_to post_favorites_path(post_data), method: :delete, remote: true do %>
    <p style="color: red;">♥<%= post_data.favorites.count %></p>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post_data), method: :post, remote: true do %>
    <p>♡<%= post_data.favorites.count %></p>
  <% end %>
<% end %>