/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "skippr";

// body {
//  background-image: image-url("logo.png");
// }

.image1 {
 background-image: image-url('top1.png');
}

.image2 {
 background-image: image-url('top2.png');
}

.image3 {
 background-image: image-url('top3.png');
}

.image-skippr {
  height: 450px;
}

.heading {
 position: absolute;
 z-index: 8888;
}

.heading h1 {
 font-size: 100px;
 font-family: 'Hachi Maru Pop', cursive;
 font-weight: 900;
 color: #0000cd;
}

.skippr-arrow {
 z-index: 9999!important;
}

.hum-icon {
 position: fixed;
 top: 10px;
 right: 30px;
 background-color: #f0f8ff;
 color: #000;
 z-index: 99999;
}

.hum-menu {
 position: fixed;
 top: 0;
 left: 0;
 background-color: #f0f8ff;
 z-index: 88888;
}