<footer style="margin-top: auto;">
  <div style="background-color: #f0f8ff;">
    <div class="row">
      <div class="mt-3 mb-3 mx-auto text-dark">
        <h5>@タバコミュニティ</h5>
      </div>
    </div>
  </div>
</footer>